.nav1 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 942px;

}

.link1 {
    text-decoration: none;

}

.nav2 {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    border: 1px solid #006A50;
}

.banner {
    display: flex;
    width: 1280px;
    padding: 80px 80px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    background: #C6E4D6;
}

.text1 {
    color: rgba(14, 14, 14, 0.50);
    font-family: "Fira Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: stretch;
}

.text2 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 622px;
}

.btn1 {
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #006A50;
}

.sec2 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
    padding: 40px;
}

.section2 .container-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 302px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
}

.cardimg {
    width: 64px;
    height: 64px;
}

.cardtext {
    color: rgba(14, 14, 14, 0.80);
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
   
}

.cardp {
    color: rgba(14, 14, 14, 0.70);
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
   
}
